# Python
__pycache__/
*.py[cod]
*.log
*.env

# 本地配置文件
config.json

# 打包文件
/dist/
/build/
*.spec

# 虚拟环境
venv/
env/

# 编辑器文件
.idea/
.vscode/
.DS_Store
Alchemist.zip
dist 2/Alchemist.app/Contents/Info.plist
dist 2/Alchemist.app/Contents/_CodeSignature/CodeResources
.gitignore
dist 2/Alchemist.app/Contents/Resources/app_icon.icns
dist 2/Alchemist.app/Contents/MacOS/Alchemist
